/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Styles */
.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.search-input {
  padding-left: 16px;
  width: 272px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  color: rgb(128, 128, 128);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.search-button {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 91px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: rgb(78, 117, 255);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #242424;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  .gallery & {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.list-img {
  width: 360px;
  height: 200px;
  margin-bottom: 7px;
}

.list-item {
  border: 1px solid #808080;
  width: 360px;
}

.list-statistic {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.list-item-title {
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 11px;
}

.list-item-number {
  display: block;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 12px;
}
